<center><h1>Blocitoff</h1>
<p>A self-destructing to-do list to keep you focused on the things that really matter.</p></center>
<% if policy(Todo.new).create? %>
<table>
  <thead>
    <tr>
      <th>Title</th>

      <th>Days Left</th>
      <th>Complete</th>
    </tr>
  </thead>

  <tbody>
    <% @todos.each do |todo| %>
      <tr>
        <td><%= todo.description %></td>
        <td><%= todo.days_left %></td>
        <td><%= link_to 'Destroy', todo, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

  <%= link_to 'New Todo list', new_todo_path, class: 'btn btn-success' %>
<% end %>
<br>

